streamlit
pdfplumber
pandas
dateparser
rapidfuzz
spacy
numpy
easyocr
Pillow
pdf2image
plotly
groq
python-docx
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz
