streamlit
pandas
numpy
pdfplumber
dateparser
rapidfuzz
spacy
easyocr
pillow
pdf2image
plotly
groq
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz
